
body
{
    color: #797979;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px !important;
}
.dropdown-menu>li>a
{
    color: #797979;
}
.media-object{
    max-width: 300px;
}
.media-link:hover{
    text-decoration: none;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th
{
    vertical-align: middle;
}
.table th,
.table td
{
    text-align: center;
}
.btn
{
    border-radius: 0;
}
.page-404
{
    position: relative;
    width: 350px;
    height: 200px;
    margin: 100px auto;
    text-align: center;
}
.text-404
{
    font-size: 138px;
    background: #e9e3dd;
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQTdWeWNteABnbzguiXSBxmfc8Z8nh_HHoWoK35QL81x4HnpVmgvQ');
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-position: 100% 100%;
    -webkit-animation: square 3s linear infinite;
    -ms-animation: square 3s linear infinite;
    animation: square 3s linear infinite;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    line-height: 200px;
    position: relative;
}
h2
{
    font-weight: 300;
}
p
{
    margin: 0 0 10px;
}
a
{
    text-decoration: none;
    outline: none;
    color: #007aff;
}
::selection
{
    background: #688a7e;
    color: #fff;
}


@-webkit-keyframes square {
    0% { background-position: 0 0; }
    25% { background-position: 100% 0; }
    50% { background-position: 100% 100%; }
    75% { background-position: 0 100%; }
    100% { background-position: 0 0; }
}

@-moz-keyframes square {
    0% { background-position: 0 0; }
    25% { background-position: 100% 0; }
    50% { background-position: 100% 100%; }
    75% { background-position: 0 100%; }
    100% { background-position: 0 0; }
}

@-ms-keyframes square {
    0% { background-position: 0 0; }
    25% { background-position: 100% 0; }
    50% { background-position: 100% 100%; }
    75% { background-position: 0 100%; }
    100% { background-position: 0 0; }
}

@keyframes square {
    0% { background-position: 0 0; }
    25% { background-position: 100% 0; }
    50% { background-position: 100% 100%; }
    75% { background-position: 0 100%; }
    100% { background-position: 0 0; }
}